@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* Generali*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --blue: #003F7D;
    --orange: #FD7702;
    --silver: #C0C0C0;
    --shadow: 2px 2px 12px rgba(0, 0, 0, 0.692);
}

@mixin small {
    @media only screen and (max-width: 800px) {
        @content;
    }
}

@mixin medium {
    @media only screen and (max-width: 1400px) {
        @content;
    }
}

@mixin large {
    @media only screen and (max-width: 1600px) {
        @content;
    }
}

html {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;

    a {
        text-decoration: none;
        transition: 0.4s;
    }

    hr {
        margin: 1rem auto;
        width: 30%;
        text-align: center;
        border: 1px solid white;
    }

    li {
        list-style: none;
    }

    .button {

        @include small {
            font-size: 10px;
        }

        padding: .3rem 1.2rem;
        border: 1px solid white;
        border-radius: 2px;
        background-color: white;
        margin: .5rem;
        font-size: 12px;
        font-weight: 600;
        color: #003F7D;
        transition: .5s;

        &:hover {
            background-color: var(--blue);
            color: white;
        }
    }

    .inactive {
        color: #47474783;
        font-size: 12px;
        margin: auto 1rem;
        padding-top: .2rem;
    }
}

/* End Generali/
/* Navbar*/

nav {
    background-color: var(--silver);
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    width: 100%;
    z-index: 999;

    h3 {
        margin-left: 1rem;

        a {
            color: var(--blue);
            font-size: 18px;

            &:hover {
                color: #333;
            }
        }

        @include small {
            display: none;
        }
    }

    ul {
        display: flex;

        li {
            margin: auto 1rem;
            list-style: none;

            a {
                color: var(--blue);
                font-size: 12px;

                &:hover {
                    color: #333;
                }

                @include small {
                    &:hover {
                        color: #333;
                    }
                }
            }
        }
    }

    @include small {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: .5rem 0;
        width: 100%;
        background-color: white;
        z-index: 999;
    }
}

/* End Navbar*/
/* Landing Page*/

#landing {
    background-image: url("/assets/img/banner.jpg");
    background-position: left;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include small {
        font-size: 70%;
    }

    h1 {
        color: white;
        font-weight: 400;
        font-size: 50px;
        text-align: center;

        @include small {
            font-size: 30px;
        }
    }

    p {
        margin-top: 1rem;
        color: white;
        text-align: center;
        font-weight: 300;
        font-size: 12px;
        line-height: 20px;

        @include small {
            font-size: 10px;

        }
    }


    .buttons {
        display: flex;
        margin: 1rem;
    }

    .social-landing {
        display: flex;
        justify-content: center;

        li {
            transform: translateX(50%);
            font-size: 40px;
            margin: 2.5rem 1.5rem 0 0;

            a {
                font-size: 25px;
                color: white;

                &:hover {
                    color: var(--blue);
                }
            }
        }
    }
}

/* End Landing Page*/
/* Curriculum*/

#curriculum {
    .section-title {
        margin: 3rem auto 0 5rem;
        width: 100%;
        display: flex;

        flex-direction: column;

        h1 {
            color: var(--orange);
        }
    }

    .aboutme {
        border-bottom: var(--blue) 1px solid;
        border-radius: 20px;
        margin: 0 2rem;

        p {
            padding: 2rem 3rem;
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 1.2px;
        }
    }
}

/* End Curriculum*/







































/* ObserverJS */

.fadein {
    opacity: 0;
}

.animright {
    opacity: 0;
}

.animleft {
    opacity: 0;
}


@keyframes animleft {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadein {
    from {

        opacity: 0;
    }

    to {

        opacity: 1;
    }
}

@keyframes animright {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}